.HeaderWrapper {
  @include box(95%, 80px);
  @include make-flex($dir: row);
  max-width: 1400px;
  z-index: 10;
  transition: 0.2s;
  position: fixed;
  padding: 0 20px;

  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(255, 255, 255, 0.01);
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(18px);
  border-radius: 30px;

  #NavBarInput,
  .hamButton {
    display: none;
  }

  @include respondAt(915px) {
    justify-content: space-between;
    height: 70px;
    padding: 0 20px 0 7px;
  }

  &__logo {
    list-style: none;
    @include box(auto, 40px);
    display: none;
    margin-left: 10px;
    span {
      font-family: "DrGlitch";
      color: #0afffd;
      text-shadow: 0px 0px 110.16px #0afffd, 0px 0px 9.18px #0afffd;
      font-size: 28px;
      line-height: 100%;
    }
    @include respondAt(915px) {
      display: block;
    }
  }

  &__Menu {
    position: relative;
    @include box();
    @include make-flex($dir: row, $just: space-between);
    @include respondAt(915px) {
      top: 0;
      right: 0;
      gap: unset;
      width: 100%;
      height: 100vh;
      position: fixed;
      max-width: 290px;
      flex-direction: column;
      padding: 123px 14px 0 24px;
      background-color: #ffffff;
      justify-content: flex-start;
      transform: translateX(100%);
      border-left: 4px solid #93b8e9;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      &--open {
        transform: translateX(0%);
      }
    }

    .devfolio-button-iframe {
      position: relative;
      background: linear-gradient(90deg, #0afffd 0%, #7fe786 100%);
      border: 1px solid #000000;
      box-shadow: 6px 4px 0px #ffffff;
      border-radius: 31px;
    }
  }

  &__MenuList {
    @include box();
    @include make-flex($just: space-between, $dir: row);
    &--item {
      list-style: none;
      font-weight: 500;
      color: #ffffff;
      transition: color 0.5s ease-in-out;
      font-size: 20px;

      a {
        font-family: "AllianceNo1";
      }

      &:hover {
        transform: scale(1.1);
      }

      @include respondAt(915px) {
        width: 100%;
      }
    }

    &--logo {
      list-style: none;
      left: 0;
      margin-left: 10px;
      span {
        font-family: "DrGlitch";
        color: #0afffd;
        text-shadow: 0px 0px 110.16px #0afffd, 0px 0px 9.18px #0afffd;
        font-size: 28px;
        line-height: 100%;
      }
      @include respondAt(915px) {
        display: none;
      }
    }

    &--right {
      margin-left: 30px;
      @include make-flex($just: flex-end, $dir: row);
    }
    &--left {
      flex-grow: 1;
      @include make-flex($just: flex-start, $dir: row);
    }
    &--left,
    &--center {
      gap: 20px;
      font-size: 17px;
      @include box(auto);
      @include make-flex($just: space-between, $dir: row);

      @include respondAt(915px) {
        width: 100%;
        flex-direction: column;
        height: unset;
        gap: 20px;
        justify-content: space-evenly;
      }
    }
  }

  &__Hamburger {
    @include respondAt(915px) {
      height: 28px;
      width: 28px;
      z-index: 2;
    }
  }
  #NavBarInput {
    @include respondAt(915px) {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      height: 28px;
      margin: 0;
      width: 28px;
    }
  }
  .hamButton {
    @include respondAt(915px) {
      z-index: 1;
      width: auto;
      height: 28px;
      @include make-flex();
      label {
        height: 100%;
        margin: unset;
        @include make-flex($just: space-around);
        span {
          width: 28px;
          display: block;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          border-top: 3px solid rgb(0, 0, 0);
          border-radius: 10px;
          &:first-child {
            transform-origin: 0% 0%;
          }
          &:nth-last-child(2) {
            transform-origin: 0% 100%;
          }
        }
      }
    }
  }

  #NavBarInput:checked ~ .hamButton > label > .span.HL1 {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -4px);
  }
  #NavBarInput:checked ~ .hamButton > label > .span.HL2 {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #NavBarInput:checked ~ .hamButton > label > .span.HL3 {
    transform: rotate(-45deg) translate(4px, 0px);
  }
}
