@import "../../styles/root/mixins";

.dropDown {
  min-height: 60px;
  width: 100%;
  position: relative;
  border: 1px solid white;
  font-size: 21px;
  &__question {
    @include box($height: fit-content);
    @include make-flex($dir: row, $just: space-between, $align: center);
    padding: 15px 20px;
    gap: 20px;
    background: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    p {
      text-align: left;
      font-family: "AllianceNo1";
      font-size: 20px;
    }
    &:hover {
      background-color: var(--white);
    }

    &--active {
      background-color: var(--white);
      border-radius: 5px 5px 0 0;
    }
  }

  hr {
    width: calc(100% - 40px);
    margin: 0 auto;
    border-bottom: 0.5px solid rgba(144, 144, 144, 0.435);
  }

  &__answer {
    @include box($height: 100%);
    @include make-flex($align: flex-start, $just: flex-start);
    gap: 20px;
    border-radius: 0 0 5px 5px;
    p {
      padding: 0 20px 20px;
      font-family: "AllianceNo1";
      font-size: 18px;
    }
  }
}
