.HomeContainer {
  @include box();
  @include make-flex();
  overflow: hidden;

  &__hero {
    @include box($height: auto);
    min-height: 710px;
    max-width: 1400px;
    position: relative;
    @include make-flex($align: flex-start);

    @include respondAt(1470px) {
      width: 100%;
      padding: 0 15px;
    }

    &--heroImage {
      position: absolute;
      top: -172px;
      right: -200px;
      width: 830px;
      transition: all 0.5s ease-in-out;

      @include respondAt(1370px) {
        width: 750px;
        top: -150px;
        right: -150px;
      }

      @include respondAt(1300px) {
        width: 700px;
        top: -150px;
        right: -150px;
      }

      @include respondAt(1030px) {
        width: 600px;
        top: -150px;
        right: -150px;
      }

      @include respondAt(888px) {
        display: none;
      }
    }

    h1 {
      color: #fff;
      font-size: 78px;
      font-weight: 300;
      line-height: 100%;
      font-family: "AllianceNo1";
      transition: all 0.5s ease-in-out;

      @include respondAt(1470px) {
        font-size: 73px;
      }

      @include respondAt(780px) {
        font-size: 60px;
      }

      @include respondAt(640px) {
        font-size: 50px;
      }

      span {
        position: relative;
        z-index: 1;
        &::after {
          content: "";
          z-index: -1;
          display: block;
          width: 100%;
          height: 70%;
          position: absolute;
          top: 50%;
          transform: translateY(-47%);
          left: 4px;
          background: linear-gradient(
            90deg,
            #6500be 0%,
            #393c98 25%,
            #1a475f 60%,
            #00ffee38 75%,
            #00ffee00 100%
          );
        }
      }
    }

    &--dateBox {
      font-family: "AllianceNo1";
      border: 1.5px solid rgba(255, 255, 255, 0.53);
      border-radius: 10px;
      font-weight: 900;
      font-size: 27px;
      height: 60px;
      margin-top: 7px;
      min-width: 300px;
      @include make-flex();
      @include respondAt(780px) {
        height: 50px;
      }
      @include respondAt(640px){
        min-width: unset;
        padding: 10px 13px;
        font-size: 20px;
      }
      @include respondAt(490px) {
        font-size: 20px;
        width: fit-content;
        flex-grow: 1;
        padding: 6px;
        font-size: 17px;
      }
    }

    &--header {
      @include box($height: auto);
      @include make-flex($dir: row, $just: flex-start);
      flex-wrap: wrap;
      column-gap: 30px;
      row-gap: 20px;
      @include respondAt(640px) {
        gap: 14px;
      }
    }

    &--footer {
      @include box($height: auto);
      @include make-flex($dir: row, $just: space-between, $align: flex-start);
      gap: 20px;
      @include respondAt(640px) {
        align-items: center;
      }

      p {
        font-size: 15px;
        font-weight: 200;
        font-family: "AllianceNo1";
        @include respondAt(640px) {
          text-align: center;
					font-size: 12px;
        }
      }
      @include respondAt(780px) {
        flex-direction: column;
      }

      a {
        @include respondAt(430px) {
          flex-grow: 1;
          width: 100%;
        }
      }
    }

    &--left {
      @include box(55%, auto);
      @include make-flex($dir: column, $just: flex-start);
      gap: 15px;
      margin-top: 120px;

      @include respondAt(1470px) {
        width: 60%;
      }

      @include respondAt(1300px) {
        z-index: 1;
        width: 75%;
      }

      @include respondAt(1030px) {
        width: 100%;
      }

      @include respondAt(888px) {
        margin-top: 0px;
        height: 100%;
        @include make-flex();
      }
      @include respondAt(640px) {
        gap: 40px;
      }
    }
  }

  &--blueButton {
    width: 280px;
    flex: none;
    height: 60px;
    @include make-flex($dir: row);
    font-family: "AllianceNo1";
    cursor: pointer;
    padding: 20px;
    gap: 5px;
    background: #8800ff;
    font-size: 18px;
    line-height: 100%;
    border-radius: 9px;

    span {
      font-family: "DrGlitch";
      padding-top: 2px;
      font-size: 16px;
      line-height: inherit;
    }

    @include respondAt(780px) {
      height: 50px;
    }
  }

  &--gradientButton {
    font-family: "AllianceNo1";
    width: 220px;
    flex: none;
    height: 60px;
    @include make-flex($dir: row);
    cursor: pointer;
    gap: 5px;
    background-color: #121212;
    position: relative;
    border-radius: 9px;

    &::before {
      content: "";
      border-radius: inherit;
      position: absolute;
      top: 0;
      left: 0;
      @include box();
      background: linear-gradient(90deg, #0afffd 0%, #7fe786 100%);
    }

    &::after {
      content: attr(data-content);
      @include make-flex();
      border-radius: inherit;
      position: absolute;
      z-index: 1;
      font-size: 20px;
      padding-bottom: 3px;
      border: 1px solid transparent;
      background-color: #121212;
      @include box(calc(100% - 4px), calc(100% - 7px));
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      &::after {
        color: #000;
        background-color: transparent;
      }
    }

    @include respondAt(780px) {
      height: 50px;
    }
  }

  &__sponsorBar {
    @include box($height: 175px);
		@include make-flex($dir: row, $just: center, $align: center);
		
    background-color: #191919;
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(14px);
		
		@include respondAt(800px) {
			height: fit-content;
			padding: 30px 0;
		}
		
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
  }

  &__about {
    @include box($height: auto);
    @include make-flex($dir: row);
    max-width: 1400px;
    min-height: 680px;

    @include respondAt(1030px) {
      flex-direction: column;
      min-height: 100%;
      gap: 50px;
      margin: 60px 0;
    }

    &--left {
      @include box(44%, auto);
      @include make-flex($dir: column, $align: flex-start);
      gap: 25px;

      h1 {
        font-family: "AllianceNo1";
        font-size: 34px;
        background: linear-gradient(90deg, #0afffd 0%, #7fe786 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        align-items: flex-end;
        gap: 10px;
        margin-bottom: 20px;
        span {
          font-family: "DrGlitch";
          font-size: 28px;
          line-height: 100%;
          margin-bottom: 2px;
        }

        @include respondAt(540px) {
          flex-wrap: wrap;
          margin-bottom: 0;
        }
      }

      p {
        font-family: "AllianceNo1";
        font-size: 19px;
        font-weight: 200;
        line-height: 150%;
        color: #fff;

        @include respondAt(565px) {
          font-size: 17px;
        }
      }

      @include respondAt(1030px) {
        width: 100%;
        padding: 0 15px;
      }
    }

    &--right {
      @include box(44%, auto);
      @include make-flex($align: flex-end);

      @include respondAt(1030px) {
        align-items: center;
        width: 100%;
      }
      @include respondAt(544px) {
        padding: 0 15px;
      }
    }

    &--buttons {
      @include box($height: auto);
      @include make-flex($dir: row, $just: flex-start);
      gap: 20px;
      flex-wrap: wrap;
      a {
        flex-grow: 1;

        @include respondAt(1030px) {
          flex-grow: unset;
        }
        @include respondAt(680px) {
          flex-grow: 1;
        }
      }
    }

    &--qBox {
      @include box(71%, auto);
      @include make-flex($dir: column, $align: flex-start);
      gap: 15px;

      @include respondAt(1165px) {
        width: 80%;
      }

      @include respondAt(1030px) {
        width: 510px;
      }
      @include respondAt(544px) {
        width: 100%;
      }
    }
    &--one {
      @include box($height: auto);
      display: flex;
      flex-direction: row;
      gap: 3px;
      img {
        height: 36px;
      }
    }
    hr {
      width: 35%;
      border: 2.5px solid #fff;
      border-radius: 10px;
      margin: 20px 0px;
    }

    &--two {
      font-family: "AllianceNo1";
      font-size: 29px;
      font-weight: 900;
    }

    &--three {
      font-family: "Maissiel";
      font-size: 25px;
      font-weight: 200;
      color: #fff;
      font-style: italic;
    }
  }

  &__track {
    @include box($height: auto);
    @include make-flex($dir: row, $just: flex-end);
    max-width: 1400px;
    min-height: 680px;
    position: relative;

    &--bgImage {
      left: -200px;
      width: 610px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      // z-index: -1;
      mix-blend-mode: screen;

      @include respondAt(1010px) {
        display: none;
      }
    }

    h1 {
      font-family: "AllianceNo1";
      font-size: 34px;
      background: linear-gradient(90deg, #0afffd 0%, #7fe786 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      align-items: flex-end;
      gap: 10px;
      margin-bottom: 20px;
      flex-wrap: wrap;

      @include respondAt(400px) {
        font-size: 8vw;
        width: 100%;
        margin: 0;
      }
      span {
        font-family: inherit;
        font-size: inherit;
        line-height: 100%;
        margin-bottom: 2px;
      }
    }

    &--right {
      @include box(60%, auto);
      @include make-flex($dir: column, $align: flex-end);
      gap: 25px;
      margin-right: 87px;

      @include respondAt(1300px) {
        margin-right: 50px;
      }
      @include respondAt(1255px) {
        width: 65%;
      }
      @include respondAt(1200px) {
        width: 75%;
      }
      @include respondAt(1010px) {
        width: 80%;
      }
      @include respondAt(945px) {
        width: 100%;
        margin: 0;
        padding: 0 15px;
      }
    }

    &--cards {
      @include box(100%, auto);
      @include make-flex($dir: row, $just: flex-end);
      gap: 20px;
      flex-wrap: wrap;

      &:hover > .HomeContainer__track--card::after {
        opacity: 1;
      }

      @include respondAt(815px) {
        flex-wrap: nowrap;
        flex-direction: column;
      }
    }

    &--card {
      @include box(300px, auto);
      min-height: 260px;
      border-radius: 10px;
      flex: none;
      flex-grow: 1;
      background-color: rgba(255, 255, 255, 0.15);
      // border: 1px solid #b9b3b3a9;
      position: relative;

      &:hover {
        &::before {
          opacity: 1;
        }
      }

      &::before,
      &::after {
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        transition: opacity 500ms;
        width: 100%;
      }

      &::before {
        background: radial-gradient(
          800px circle at var(--mouse-x) var(--mouse-y),
          rgba(255, 255, 255, 0.06),
          transparent 40%
        );
        z-index: 3;
      }

      &::after {
        background: radial-gradient(
          600px circle at var(--mouse-x) var(--mouse-y),
          rgba(255, 255, 255, 0.4),
          transparent 40%
        );
        z-index: 1;
      }

      @include respondAt(815px) {
        flex-grow: 1;
        width: 100%;
      }

      @include respondAt(400px) {
        min-height: 300px;
      }
    }

    &--cardContent {
      background-color: #121212;
      border-radius: inherit;
      display: flex;
      flex-direction: column;
      inset: 1px;
      padding: 25px;
      position: absolute;
      z-index: 2;
      @include box(calc(100% - 2px), calc(100% - 2px));

      @include respondAt(400px) {
        justify-content: space-evenly;
      }

      p {
        font-family: "AllianceNo1";
      }
    }
  }

  &__horizontalScroller {
    @include box(100%, 100px);
    @include make-flex($align: flex-start);
    margin: 10px 0;
    animation: marquee 10s linear infinite;

    span {
      white-space: nowrap;
      font-size: 50px;
      font-family: "AllianceNo1";

      @include respondAt(895px) {
        font-size: 42px;
        background: linear-gradient(90deg, #0afffd 0%, #7fe786 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }

  &__prizes {
    @include make-flex($dir: row, $just: space-evenly);
    @include box();
    max-width: 1400px;
    gap: 15px;

    @include respondAt(1400px) {
      padding: 0 15px;
      max-width: unset;
    }

    @include respondAt(1180px) {
      flex-wrap: wrap;
      row-gap: 45px;
    }
  }

  &__prizesBox {
    @include box(375px, auto);
    @include make-flex();
    gap: 20px;
    &--top {
      @include box(100%, 250px);
      border: 1px solid rgb(158, 158, 158);
      border-radius: 10px;
      padding: 20px;
    }

    &--bottom {
      @include box(100%, auto);
      @include make-flex($align: flex-start, $dir: column);
      font-family: "AllianceNo1";
      gap: 15px;

      h2 {
        background: linear-gradient(90deg, #0afffd 0%, #7fe786 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
      p {
        font-size: 17px;
        font-family: inherit;
      }
    }
  }

  &__FAQContainer {
    @include box();
    max-width: 1400px;
    @include make-flex($dir: row, $align: flex-start, $just: space-between);

    @include respondAt(1400px) {
      max-width: unset;
    }

    @include respondAt(916px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__FAQ {
    @include box(100%, auto);
    @include make-flex();
    margin: 65px 0;
    min-height: 440px;

    @include respondAt(1450px) {
      padding: 0 15px;
    }
    &--left {
      @include box(50%, 100%);
      @include make-flex($just: flex-start, $align: flex-start);
      h1 {
        font-family: "AllianceNo1";
        font-size: 50px;
        font-weight: 800;
        width: 56%;
        background: linear-gradient(90deg, #0afffd 0%, #7fe786 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;

        @include respondAt(1450px) {
          width: 70%;
        }
        @include respondAt(1250px) {
          width: 100%;
        }
        @include respondAt(455px) {
          font-size: 30px;
        }
      }
      @include respondAt(916px) {
        width: 100%;
      }
    }

    &--right {
      @include box(50%, 100%);
      @include make-flex();
      gap: 15px;

      @include respondAt(916px) {
        width: 100%;
      }
    }
  }

  .Footer {
    @include box(100%, 130px);
    background: linear-gradient(90deg, #0afffd 0%, #7fe786 100%);
    font-family: "AllianceNo1";
    @include make-flex();

    @include respondAt(470px) {
      height: auto;
    }

    &__container {
      @include box();
      max-width: 1400px;
      @include make-flex($dir: row, $just: space-between);

      @include respondAt(1430px) {
        max-width: unset;
        padding: 0 15px;
      }

      @include respondAt(470px) {
        padding: 15px;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
      }
    }
    &__left {
      font-size: 25px;
      font-weight: 300;
      color: black;
    }
    &__right {
      height: 65%;
      img {
        height: 100%;
      }
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
