@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "DrGlitch";
  src: url("/fonts/Doctor Glitch.otf") format("opentype");
}

@font-face {
  font-family: "AllianceNo1";
  src: url("/fonts/AllianceNo1.otf") format("opentype");
}

@font-face {
  font-family: "AllianceNo2";
  src: url("/fonts/AllianceNo2.otf") format("opentype");
}

@font-face {
  font-family: "Maissiel";
  src: url("/fonts/Maissiel.ttf") format("truetype");
}
